/* ===========================================================================
 * Archive Theme
 * ===========================================================================
 * #C9CBA3
 * #FFE1A8
 * #E26D5C
 * #723D46
 * #472D30
 */

body {
  background: #C9CBA3;
}

#visual-portal-wrapper {
  background: #FFFFFF;
  max-width: 1700px;
  margin: 0 auto;
  overflow: auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#portal-globalnav {
  background: #FFE1A8;
}

#portal-globalnav li a {
  background: #FFE1A8;
  color: #723D46;
  min-width: 0;
  padding: 0.5em 1em 0.5em 1em;
}

#portal-globalnav li.selected a {
  background: #723D46;
  color: #FFFFFF;
}

#portal-globalnav li.selected a:hover {
  background: #E26D5C;
  color: #FFFFFF;
}

#portal-globalnav a:hover{
  background: #E26D5C;
}

#portal-footer-wrapper {
  padding-top: 1em;
  background: #472D30;
}

#portal-footer-wrapper a {
  color: #E26D5C;
}

#portal-siteactions li a:hover {
  color: #FFE1A8;
}

#portal-footer {
  display: none;
}

#edit-bar {
  background-color: #FFE1A8;
  border-color: #FFE1A8;
}

#content-views {
  background-color: #FFE1A8;
}

#content-views a {
  color: #723D46;
}

#contentActionMenus,
#contentActionMenus,
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
  background: #FFE1A8;
  border-color: #FFE1A8;
  background-color: #FFE1A8;
  color: #723D46;
}
