/* ===========================================================================
 * Archive Theme
 * ===========================================================================
 * #C9CBA3
 * #FFE1A8
 * #E26D5C
 * #723D46
 * #472D30
 */

body {
  background: #C9CBA3;
}

#visual-portal-wrapper {
  background: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

#portal-globalnav {
  background: #FFE1A8;
}

#portal-globalnav li a {
  background: #723D46;
  color: #FFFFFF;
}

#portal-globalnav li.selected a {
  background: #472D30;
  color: #FFFFFF;
}

#portal-globalnav li.selected a:hover {
  background: #E26D5C;
  color: #FFFFFF;
}

#portal-globalnav a:hover{
  background: #E26D5C;
}
